@charset "UTF-8";

/* 공통 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');

* {
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
	color: #383838;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

table {
	border-collapse: collapse;
} 

td, th {
	border: 1px solid #000;
} 

/* float 사용시 overflow: hidden; 사용할 수 없을 시에 적용 */
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}


.content {
	margin-top: 84px;
}

.contentWrap {
	/* margin-left: 248px; */
}


/* style class */
.fontW700{
	font-weight: 700;
}

.pageTitle {
	padding: 10px;
	border-bottom : 1px solid #D9D9D9;
	border-left: 10px solid #014E9E;
	margin-bottom: 30px;
}

.btnOrange {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-weight: 700;
	background-color: #ff9900;
	border-radius: 3px;
	cursor: pointer;
}

.btnPurple {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-weight: 700;
	background-color: #725cc6;
	border-radius: 3px;
	cursor: pointer;
}

.btnLightBlue {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-weight: 700;
	background-color: #3493DD;
	border-radius: 3px;
	cursor: pointer;
}

.btnAqua {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-weight: 700;
	background-color: #0CA0AE;
	border-radius: 3px;
	cursor: pointer;
}

.btnPink {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	color: #fff;
	font-weight: 700;
	background-color: #e8396f;
	border-radius: 3px;
	cursor: pointer;
}

/* color class */
.orange {color: #ff9900;}
.purple {color: #725cc6;}
.white {color: #fff;}
.gray {color: #D9D9D9;}
.pink {color: #e8396f;}
.blue{color: #014e9e;}
.aqua{color: #0CA0AE;}
.lightBlue{color: #3493DD;}
.dftBlue{color: blue;}
.red{color: red;}

.lightGreyBg {background-color: #D9D9D9;}
.pinkBg {background-color: #E8396F;}
.purpleBg {background-color: #725cc6;}
.orangeBg{background-color: #ff9900;}
.blueBg {background-color: #014E9E;}
.lightBlueBg{background-color: #3493DD;}



/* header style */
header {
	min-width: 1390px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
	background-color: #0CA0AE;
	position: relative;
}

nav div.logoWrap {
	position: absolute;
	right: 30px;
	top: 50%;
	transform : translateY(-50%);
}

nav div.logoWrap img {
	width: 250px;
}

nav ul {
	overflow: hidden;
}

nav ul li {
	float: left;
	text-align: center;
	width: 150px;
}

nav ul li a {
	display: block;
	padding: 15px 10px;
	color: #fff;
	font-weight: 700;
}

nav ul li:hover{
	background: #3493DD;
}

.icon {
	font-size: 30px;
	color: #fff;
	padding-bottom: 5px;
}

.menuView {
	background-color: #014E9E;
}

/* footer style */
footer {
	position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    background-color: #2A3954;
    width: 100%;
}

footer .copy {
	font-size: 12px;
	color: #fff;
}