@charset "UTF-8";

.content {
	min-height: 810px;
	min-width: 1280px;
}

.sideMenu {
	float: left;
	width: 14%;
	min-width: 250px;
	/* min-height: 810px; */
	border-right: 1px solid #D9D9D9;
	background-color: #fff;
}

.sideUl li a {
	display: block;
	padding: 10px 35px;
	position: relative;
	border-bottom: 2px solid #D9D9D9;
	font-weight: 700;
}

.sideTitle {
	background-color: #2A3954;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 30px;
	text-align: center;
}

.sideUl li a.sideView {
	background-color: #3493DD;
	color: #fff;
	font-weight: 700;
	border-bottom: 2px solid #FF9900;
}

.iconView {
	position: absolute;
	display: inline;
	color: #fff;
	font-size: 18px;
	right: 40px;
}

.contentWrap {
	float: left;
	width: 80%;
	min-width: 800px;
	padding: 50px;
	box-sizing: border-box;
}